*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Agency FB;
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
}
/* Main1 styling */
.main1{
    width: 100%;
    height: 100vh;
    background-color: #FAC742;
}
.nav{
    background-color: black;
    height:10%;
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 90px;
    margin-top: 20px;
}
.logo img{
    width: 100%;
}
.links a{
    color: white;
    text-decoration: none;
    margin:0px 10px;
    padding: 10px 20px;
    border:1px solid transparent;
}
.links a:hover{
    border:1px solid white;
}
.main_inner{
    background-image: url("Picture/pic1.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: right;
    background-size: cover;
    width: auto;
    height: 90%;
}
.inner_contect{
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 15px #FAC742;
    border-radius: 20px;
    position: absolute;
    right: 100px;
    bottom: 60px;
}
.inner_contect h2{
    color: #FAC742;
    font-weight: 900;
}
.inner_contect p{
    color:white;
    font-size: 18px;
}
.inner_contect a{
    color: gray;
    font-weight: 900;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

/* Main2 styling */
.main2{
    width:100%;
    height: 90%;
    background-color: black;
}
.main2up{
    text-align: center;
    background-color: black;
}
.main2up a{
    display: inline-block;
    margin:30px;
    color:white;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 900;
}
.main2up a span{
    color:#FAC742;
}
.main2down{

    color:white;
    display: flex;
    justify-content: center;
}
.services{
    width: 25%;
    margin: 20px 30px;
    box-shadow: 0 2px 15px #FAC742;
    border-radius: 20px;
    padding:20px;
}
.services:hover{
    box-shadow: 0 4px 20px #FAC742;
}
.img{
    width:100%;
    height:400px;
}
.img1{
    background-image: url(Picture/pic2.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.img2{
    background-image: url(Picture/pic3.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 350px;
    background-size: cover;
}
.img3{
    background-repeat: no-repeat;
    background-image: url(Picture/pic4.jpg);
    border-radius: 20px;
    height: 350px;
    background-size: cover;
}
.services h3{
    margin:10px 0px;
    color: #FAC742; 
}
.services a{
    text-decoration: none;
    color:white;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    border-top:1px solid #FAC742;
}
/* main 3 styling */
.main3{
    height: auto;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto, auto;
    grid-gap: 20px;
    padding:30px;
}
.mains{
    height: auto;
}
.main3_1{
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 4px 20px #FAC742;
    color: white;
    padding:30px;
}
.main3_1 img{
    width: 180px;
}
.main3_1 h2{
    font-size: 30px;
    color: white;
}
.main3_1 h2 span{
    color:#FAC742;
}
.main3_1 p{
    font-size: 18px;
}
.main3_1 a{
    display: inline-block;
    padding-top: 10px;
    color: white;
    margin-top:10px;
    border-top: 2px solid #FAC742;
    text-decoration: none;
}
.main3_2{
    background-image: url("Picture/pic6.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main3_3{
    background-image: url("Picture/pic5.jpg");
    background-repeat: no-repeat;
    border-radius: 30px;
    background-size: cover;
}
.main3_4{
    border-radius: 30px;
    box-shadow: 0 4px 20px #FAC742;
    background-color: black;
    color: white;
    padding:50px;
}
.main3_4 img{
    width: 180px;
}
.main3_4 h2{
    font-size: 30px;
    color: white;
}
.main3_4 h2 span{
    color:#FAC742;
}
.main3_4 p{
    font-size: 18px;
}
.main3_4 a{
    display: inline-block;
    padding-top: 10px;
    color: white;
    margin-top:10px;
    border-top: 2px solid #FAC742;
    text-decoration: none;
}

/* main4 */
.main4{
    background-color: black;
    width: 100%;
    height: 100%;
    padding:30px;
    display: flex;
    flex-direction: column;
}
.main4_up{
    text-align: center;
    color:#FAC742;
    font-size: 30px;
    padding: 0px 60px;
}
.main4_up span{
    color:white;
}
.main4_up p{
    color:white;
    font-size: 20px;
}
.main4_down{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    padding:30px 50px;
}
.mains4{
    background-repeat: no-repeat;
    background-size: cover;
}
.main4_1{
    background-image: url("Picture/pic7.jpg");
}
.main4_2{
    background-image: url("Picture/pic8.jpg");
}
.main4_3{
    background-image: url("Picture/pic9.jpg");
}
.main4_4{
    background-image: url("Picture/pic10.jpg");
}
.main4_5{
    background-image: url("Picture/pic11.jpg");
}
.main4_6{
    background-image: url("Picture/pic12.jpg");
    background-position: center;
}
.main4_7{
    background-image: url("Picture/pic13.jpg");
}
.main4_8{
    background-position: center;
    background-image: url("Picture/pic14.jpg");
}